# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# =========================
# Virtual Environment
# =========================
venv/


# =========================
# Environment / Secrets
# =========================
.env
.env.*

# =========================
# AWS Credentials
# =========================
.aws/
*.pem
*.key

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
